<div class="outer-container">
  <div class="inner-container">
    <div class="list-container">
      <h2>Post new message</h2>
      <div class="email-field">
        <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7" [(ngModel)]="newMessage.email" class="message-title-textarea" name="email"  placeholder="Email"></textarea>
      </div>
      <div class="title-field">
        <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7" [(ngModel)]="newMessage.title" class="message-title-textarea" name="title"  placeholder="Title"></textarea>
      </div>
      <div class="message-field">
        <textarea matInput [(ngModel)]="newMessage.text" class="message-textarea" name="message"  placeholder="Message"></textarea>
      </div>
      <div>
        <button class="save-button" mat-button (click)="onPostClick()">
          Post
        </button>
      </div>
      <h2>Messages</h2>
      <div class="list">
        <div *ngFor="let message of messages">
          <app-message-item [message]="message"></app-message-item>
        </div>
        <!--<div class="new-task-form">-->
          <!--<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>-->
            <!--<input class="add-task-form" type="text" name="taskName" placeholder="Create task..." autocomplete="off"-->
                   <!--[(ngModel)]="model.taskName" #taskName="ngModel" style="width: 155px"/>-->
          <!--</form>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
<div *ngIf="savingInProgress">
  <div class="indicator"></div>
</div>
