@import "../../colors";

h2 {
  margin-bottom: 10px;
  font: 400 23.3333px Arial;
}

.save-button {
  background: $background;
  height: 38px;
  width: 150px;
  font: 600 16.3333px Arial;
}

.list-container {
  text-align: center;
  width: 380px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.list {
  border: solid 1px $background;
  border-radius: 4px;
  display: block;
  min-height: 60px;
}

.outer-container {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.inner-container {
  display: table-cell;
  vertical-align: top;
  text-align: center;
}

.message-textarea {
  top: 0px;
  left: 0px;
  background: $background-lighter;
  width: 97.7%;
  height: 100px;
  min-height: 50px;
  max-height: 300px;
  resize: vertical;
}

.message-title-textarea {
  width: 97.7%;
  font: 400 23.3333px Arial;
  background: $background-lighter;
}

.message-title-textarea::-webkit-input-placeholder {
  color: $background;
}

.message-textarea::-webkit-input-placeholder {
  color: $background;
}

.indicator {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 25px;
  width: 25px;
  background-color: darkred;
  border-radius: 50%;
  display: inline-block;
}
