<div class="comment-container">
  <div class="title-bar">
    <div class="email">Author: {{comment.email}}</div>
    <div class="created-date">Created on: {{comment.addedOn | date:'d MMM yyyy, HH:mm:ss'}}</div>
  </div>
  <div class="comment-text-wrapper">
    <div class="comment-text">{{comment.text}}</div>
  </div>
</div>
