@import "../../../../../colors";

.comment-container {
  margin-bottom: 16px;
  border: 1px solid $background;
}

.comment-text {
  margin-left: 8px;
  margin-right: 10px;
  color: black;
}

.comment-text-wrapper {
  clear: both;
  background: $background-lighter;
}

.title-bar {
  background: $background-light;
}

.email {
  margin-left: 8px;
  float:left;
}

.created-date {
  margin-right: 10px;
  float: right;
}
