<div mat-dialog-content class="dialog-container">
  <div>
    <p class="title-text-label">Title</p>
    <div class="message-title">
      <i class="material-icons message-title-icon">
        label
      </i>
      <div class="message-title-input">
        <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7" [(ngModel)]="message.title" class="message-title-textarea" name="title"  placeholder="Title"></textarea>
      </div>
    </div>
  </div>
  <div>
    <p class="message-text-label">Message</p>
    <div class="message-text">
      <i class="material-icons message-text-icon">
        view_headline
      </i>
      <form class="message-text-form">
        <textarea matInput [(ngModel)]="message.text" class="message-textarea" name="message"  placeholder="Message"></textarea>
      </form>
    </div>
  </div>
  <button class="save-button" mat-button (click)="onSaveClick()">
    Save
  </button>
  <div>
    <p class="comments-label">Comments</p>
    <div class="comment-container">
      <i class="material-icons comment-icon">
        comment
      </i>
      <div class="comment-list-container">
        <div *ngFor="let comment of message.comments" class="comment-list">
          <app-message-comment [comment]="comment"></app-message-comment>
        </div>
      </div>
      <div class="empty-comments" *ngIf="message.comments.length === 0">
          No comments yet. Be the first one to leave a comment!
        </div>
    </div>
  </div>
  <div>
    <p class="leave-comment-label">Leave a comment:</p>
    <div class="leave-comment">
      <i class="material-icons leave-comment-icon">
        create
      </i>
      <div class="comment-fields">
        <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7" [(ngModel)]="newComment.email" class="email-textarea" name="email"  placeholder="email"></textarea>
        <textarea matInput [(ngModel)]="newComment.text" class="comment-textarea" name="message"  placeholder="Message"></textarea>
      </div>
    </div>
  </div>
  <button class="post-comment-button" mat-button (click)="onPostCommentClick()">
    Post
  </button>
</div>
