@import "../../../../colors";

.dialog-container {
  height: 100%;
  width: 100%;
  background: $background-light;
}

.message-title {
  overflow: auto;
  width: 100%;
}
.message-title-icon {
  float: left;
  display: inline;
  color: $background;
  padding-top: 4px;
}

.message-title-input {
  display: inline;
  float: left;
  width: 94%;
}

.message-title-textarea {
  font: 400 23.3333px Arial;
  background: $background-lighter;
  width: 97.5%;
}

.message-text-icon {
  display: inline;
  color: $background;
  float: left;
}

.message-text-label {
  float: left;
  font: 400 13.3333px Arial;
  margin-left: 25px;
  margin-bottom: 1px;
  vertical-align: top;
}

.message-text{
  display: table;
  width: 100%;
  overflow: auto;
}

.message-text p {
  color: black;
  padding-left: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.message-text-form {
  display: table-cell;
  vertical-align: top;
  float: left;
  padding-top: 1px;
  width: 94%;
}

.message-textarea {
  top: 0px;
  left: 0px;
  background: $background-lighter;
  width: 97.7%;
  height: 100px;
  min-height: 50px;
  max-height: 300px;
  resize: vertical;
}

.save-button {
  background: $background;
  float: right;
  right: 19px;
}

.comment-icon {
  display: inline;
  color: $background;
  float: left;
}

.comment-container {
  clear: both;
}

.comments-label {
  float: left;
  font: 400 13.3333px Arial;
  margin-left: 25px;
  margin-bottom: 1px;
  margin-top: 33px;
  vertical-align: top;
}

.empty-comments {
  float: left;
  padding: 4px;
  background: $background-lighter;
  color: black;
  width: 91.5%;
  font: 400 15.3333px Arial;
}

.email-textarea {
  font: 400 23.3333px Arial;
  background: $background-lighter;
  width: 100%;
}

.comment-textarea {
  top: 0px;
  left: 0px;
  background: $background-lighter;
  width: 100%;
  height: 100px;
  min-height: 50px;
  max-height: 300px;
  resize: vertical;
}

.title-text-label {
  float: left;
  font: 400 13.3333px Arial;
  margin-left: 25px;
  margin-bottom: 1px;
  margin-top: 0px;
  vertical-align: top;
}

.leave-comment-label {
  float: left;
  font: 400 13.3333px Arial;
  margin-left: 25px;
  margin-bottom: 1px;
  margin-top: 13px;
  vertical-align: top;
}

.leave-comment {
  display: table;
  width: 101.1%;
  overflow: auto;
}

.leave-comment-icon {
  float: left;
  color: $background;
}

.comment-fields {
  float: left;
  width: 91%;
}

.post-comment-button {
  background: $background;
  float: right;
  right: 17px;
}

.comment-list-container {
  float: left;
  width: 92.8%;
}
