<div class="message-container" (click)="onClick()">
  <div class="title">
    <div class="title-text">
      {{message.title}}
    </div>
  </div>
  <div class="message-text">
    {{message.text}}
  </div>
  <div class="message-info">
    Created on:
    {{message.addedOn | date:'d MMM yyyy, HH:mm:ss'}}
    by: {{message.email}}
  </div>
  <div class="comments">
    <i class="material-icons comment-icon">
      comment
    </i>
    <div class="comment-count">
      {{message.comments.length}}
    </div>
  </div>
  <div class="delete-button" (click)="deleteMessage($event)">
    <i class="material-icons delete-icon">
      delete
    </i>
  </div>
</div>
