@import "../../../colors";

.message-container {
  position: relative;
  cursor: pointer;
  border: solid 1px $background;
  background: $background-lighter;
}

.title {
  float: left;
  width: 100%;
  text-align: left;
  border-bottom: solid 1px $background-light;
}

.title-text{
  margin-top: 5px;
  margin-left: 6px;
  font: 400 23.3333px Arial;
  word-wrap: break-word;
}

.message-text {
  clear: both;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.message-info {
  font: 400 11.3333px Arial;
  width: 86%;;
  text-align: left;
  padding-left: 2px;
  padding-bottom: 1px;
  word-break: break-word;
}

.comment-icon {
  font-size: 16px;
  float: left;
}

.comments {
  float: right;
  position: absolute;
  right: 22px;
  bottom: 2px;
}

.comment-count {
  float: left;
}

.delete-button {
  float: right;
  position: absolute;
  right: 2px;
  bottom: 1px;
}

.delete-icon {
  font-size: 16px;
}
